
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
deploy/
tmp/
publish/

# Build information
**/BuildInformation.txt

# Visual Studio 2015
.vs/
launchSettings.json

# Rider IDE
.idea/

# Deploy packs
**/*.zip
**/appsettings.Production.json

# MacOS files
.DS_Store

**/App_Offline.htm

**/testsettings.json
